<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CRUD App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
  <body>
    <header id="header">
      <nav>
        <div class="container">
          <div class="text-center">
            <a href="/" class="nav-brand text-dark">Employee Management System</a>
          </div>
        </div>
      </nav>
    </header>

    <main id="site-main">
        <div class="conatiner">
            <div class="box-nav d-flex justify-between">
                <div  class="filter">
                    <a style="padding:80px;" href="/"><i class="fas fa-angle-double-left"></i>
                        All Users
                    </a>
                </div>
            </div>

            <div class="form-title text-center">
                <h2 class="text-dark">New User</h2>
                <span class="text-light">Create new account</span>
            </div>
            <form id="update_user" method="post" autocomplete="off">
                    <div class="new_user">
                        <div class="form-group">
                            <label for="name" class="text-dark">Name</label>
                            <input type="text" name="name" value="" placeholder="Enter Name">
                            
                        </div>


                        <div class="form-group">
                            <label for="Email" class="text-dark">Email</label>
                            
                            <input type="text" name="email" value="" placeholder="Enter Email">
                            
                        </div>

                        <div class="form-group">
                            <label for="gender" class="radio-label">Gender</label>
                            <div class="radio inline">
                                <input type="radio" name="gender" id="gender-m" value="Male" />
                                <label for="gender-m" class="radio-label">Male</label>
                            </div>
                            <div class="radio inline">
                                <input type="radio" name="gender" id="gender-f" value="Male"/>
                                <label for="gender-f" class="radio-label">Female</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="phone" class="text-dark">Ph. No.</label>
                            <input type="tel" name="phone" pattern="[0-9]{10}">
                            
                        </div>

                        <div class="form-group">
                            <label for="ID" class="text-dark">ID &nbsp &nbsp &nbsp &nbsp</label>
                            <input type="number"class="text-dark" name="ID">
                            
                        </div>
                        <br/>
                        <div class="form-group">
                            <button type="submit" class="btn text-dark" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;"><b>Create</b></button>
                        </div>
                       
                    </div>
            
            </form>
        </div>
    </main>
  </body>
</html>
</body>
</html>